* {}

html {
    height: 100%;
    width: 100%;
}

body {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    font-size: 14px;
}

ul {
    padding-left: 14px;
}

.list-films {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

article {
    width: 200px;
    height: 500ox;
    border: solid 1px grey;
    margin-top: 20px;
}

img,
h3,
p {
    width: 100%;
    text-align: center;
}

img {
    width: 200px;
    height: 275px;
    object-fit: cover;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 12px;
}